 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <title></title>
</head>
<body>
  <div class="page-header">
    <h1><a href="/">Recetario</a></h1>
    {% if user.is_authenticated %}
    Welcome, {{ user.username }}<br>
    <a href="{% url 'add' %}">Add a recipe</a><br>
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}">login</a><br>
      New User? <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
  </div>
  <div class="content container">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
