{% extends 'recipes/base.html' %}
{% block content %}
  <div class="text-center container">
    <h1 class=>{{ recipe.title }}</h1>
    <ul class="list-inline text-center">
      <li class="list-inline-item"><strong>Cuisine: </strong>{{ recipe.cuisine }}</li class="list-inline-item">
      <li class="list-inline-item"><strong>Cooking Time: </strong>{{ recipe.cooking_time }}</li class="list-inline-item">
      <li class="list-inline-item"><strong>Servings: </strong>{{ recipe.servings}}</li class="list-inline-item">
      <li class="list-inline-item"><strong>Author: </strong>{{ recipe.created_by }}</li class="list-inline-item">
      <li class="list-inline-item"><a href="{% url 'edit' recipe.id %}">Edit recipe information</a></li class="list-inline-item">
    </ul>
    <h3>Ingredients:</h3>
    <ul class="list-unstyled d-inline-block text-left">
    {% for ingredient in ingredients %}
      <li class="ingredient">
        {{ ingredient.quantity }}
        {{ ingredient.measurement }}
        {{ ingredient.name }}
      </li>
    {% endfor %}
    </ul>
    <h3>Instructions:</h3>
    <ul class="list-unstyled text-left d-inline-block">
      {% for instruction in instructions %}
        <li>
          {{ instruction.ordinal }}
          {{instruction.instruction_text }}
        </li>
      {% endfor %}
    </ul>
{% endblock %}
