{% if ingredients %}
  <ul>
    {% for ingredient in ingredients reversed %}
      <li>
        {{ ingredient.quantity }}
        {{ingredient.measurement }}
        {{ ingredient.name }}
        <a href="{% url 'ingredient_edit' recipe_id ingredient.id %}">edit</a>
      </li>
    {% endfor %}
    <li><a href="{% url 'ingredient_add' recipe_id %}">Add another ingredient</a></li>
  </ul><br>
  <p><a href="{% url 'detail' recipe_id %}">Go back to recipe</a></p>
{% else %}
  No ingredients, add one <a href="{% url 'ingredient_add' recipe_id %}">here</a>
{% endif %}
