{% if instructions %}
  <ul>
    {% for instruction in instructions %}
      <li>
        {{ instruction.ordinal }}
        {{instruction.instruction_text }}
        <a href="{% url 'instruction_edit' recipe_id instruction.id %}">edit</a>
      </li>
    {% endfor %}
    <li><a href="{% url 'instruction_add' recipe_id %}">Add another instruction</a></li>
  </ul>
  <p><a href="{% url 'detail' recipe_id %}">Go back to recipe</a></p>
{% else %}
  No instructions, add one <a href="{% url 'instruction_add' recipe_id %}">here</a>
{% endif %}
